<%- include('../layouts/header.ejs') %>
<div class="background-container">
  <div class="overlay">
    <div class="login-container">

      <form  action="/login" method="POST" class="form-login">
        <% if (error) { %>
          <p style="color: red;"><%= error %></p>
      <% } %>
        <input
          class="input-style"
          type="email"
          placeholder="Email..."
          name="email"
          value="dopid@mailinator.com "
          required
        />
        <input
          class="input-style"
          type="password"
          placeholder="Password..."
          name="password"
          value="Pa$$w0rd!"
          required
        />
        <button class="submit-btn" type="submit">Log in</button>
      </form>
      <div class="signup-link">
      <p>Don't have an account? <a href="./register">Register</a></p>
      </div>
    </div>
    </div>
    
  </div>
</div>
