<%- include('../layouts/header.ejs') %>
<div class="bg-wrapper">
  <div class="bg-overlay">
    <div class="register-box">
      <form class="form-wrapper">
        <div class="input-row">
          <input
            class="input-field"
            type="text"
            id="firstName"
            name="firstName"
            placeholder="First Name..."
            required
          />
          <input
            class="input-field"
            type="text"
            id="lastName"
            name="lastName"
            placeholder="Last Name..."
            required
          />
        </div>
        <div class="input-row">
          <input
            class="input-field"
            type="text"
            id="address"
            name="address"
            placeholder="Address..."
            required
          />
          <input
            class="input-field"
            type="date"
            id="birthday"
            name="birthday"
            placeholder="Birthday..."
            required
          />
        </div>
        <div class="input-row">
          <input
            class="input-field"
            type="email"
            id="email"
            name="email"
            placeholder="Email..."
            required
          />
          <input
            class="input-field"
            type="password"
            id="password"
            name="password"
            placeholder="Password..."
            required
          />
        </div>
        <div class="input-full-width">
          <input
            class="input-field"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm Password..."
            required
          />
        </div>
        <button class="register-btn" type="submit">Register</button>
      </form>
      <div class="login-text">
        <p>Already have an account? <a href="./login">Login</a></p>
      </div>
    </div>
  </div>
</div>
