<%- include('../../layouts/navbar.ejs') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          fuck editing
        </div>
    </div>
</div>

<%- include('../../layouts/script.ejs') %>
