<%- include('header') %>
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-background">
    <div class="container-fluid">
        <button id="sidebarToggle" class="btn btnprimary d-lg-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mx-auto">
                <h3 class="navbar-brand text-white fs-2">JSSmartExam</h3>
            </div>
        </div>
    </div>
</nav>
<nav id="sidebar" class="sidebar">
    <div class="position-sticky">
        <div class="p-3">
            <img src="/images/logo.png" class="logo" alt="">
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <% if (!hasClass) { %>
                    <a class="nav-link" href="/Add-classe">
                        Gestion du class
                    </a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (hasClass) { %>
                    <a class="nav-link" href="/add_etudiant">
                      Gestion des students
                    </a>
                <% } %>
            </li>

        </ul>
    </div>
    <div class="user-info">
        <span><%= user ? user.firstName + ' ' + user.lastName : 'Name' %></span>
        <span class="text-muted">specialite : <%= user ? user.specialite : 'Specialty' %></span>
        <span><a class="btn btn-danger w-100" href="/logout">Logout</a></span>
    </div>
</nav>

