
    <%- include('layouts/navbar') %>
        <main role="main" class="main-content">
        <h1 class="text-center m-5 fs-1">Welcome to <%= title %></h1>
        <div class="card bgCard shadow-sm mx-auto" style="max-width: 50%;">
            <div class="card-header font-weight-bold fs-3 text-center text-white">
                Dashboard Stats
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-4 mb-3">
                        <div class="card text-white bgChildCard">
                            <div class="card-body">
                                <h5 class="card-title">Classes</h5>
                                <p class="card-text fs-4">75</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card text-white bgChildCard">
                            <div class="card-body">
                                <h5 class="card-title">levels</h5>
                                <p class="card-text fs-4">50%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card text-white bgChildCard">
                            <div class="card-body">
                                <h5 class="card-title">subject</h5>
                                <p class="card-text fs-4">120</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </main>

    <%- include('layouts/script') %>
