<%- include('../../layouts/navbar.ejs') %>
<main style="padding-top: 80px;; min-height: calc(100vh - 80px);">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6">
                <div class="card rounded-lg shadow-lg border-0">
                    <div class="card-body p-5 text-center">
                        <h4 class="card-title mb-4" style="font-weight: 600;">Welcome to JSSmartExam</h4>
                        <p class="card-text" style="font-size: 1.1rem; color: #555;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ea necessitatibus beatae quia reiciendis ipsa assumenda voluptatum fugit magnam sunt.
                        </p>
                        <button id="addClassBtn" class="btn btn-lg btn-primary mt-4 px-5">Add Class</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




<%- include('../../layouts/script.ejs') %>
